.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-container .chart-holder {
    height: 300px;
    margin-bottom: 10px;
}

.overview-container .item:nth-child(odd) {
    fill: #e3eae5;
}

.overview-container .item:nth-child(even) {
    fill: #f0f4f1;
}

.legend-area {
    flex: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.legend-area .items-holder {
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
    display: flex;
}

.legend-area .items-holder .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    background: #f0f4f1;
    border: 3px solid #f0f4f1;
    margin: 0 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    width: calc(((100% / 7) - 10px));
}

.legend-area .items-holder .item .caption {
    font-size: 11px;
    font-weight: bold;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legend-area .items-holder .item .widget {
    width: 10px;
    height: 10px;
    min-height: 10px;
    max-height: 10px;
    min-width: 10px;
    max-width: 10px;
    background: rgb(233, 78, 19);
}

.legend-area .items-holder .item .widget.circle {
    margin-top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
