@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    color: #555555;
}

.App {
    text-align: center;
}

.App-header {
    padding: 10px;
}

.component-width {
    max-width: 800px !important;
    width: 100%;
}

.number-section {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    font-size: 19px;
    font-weight: bold;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white),
    linear-gradient(30deg, #00ce97 36%, transparent),
    linear-gradient(120deg, #00e7aa 36%, transparent),
    linear-gradient(300deg, #53BCE4 36%, transparent),
    linear-gradient(210deg, #E94F2D 36%, transparent),
    linear-gradient(210deg, #563D7C 36%, transparent),
    linear-gradient(210deg, #F9D542 36%, transparent),
    linear-gradient(210deg, #E55633 36%, transparent);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
}
